body {
    background: rgb(145,210,252);
    background: radial-gradient(circle, rgba(145,210,252,1) 0%, rgba(240,225,90,1) 59%, rgba(255,138,239,1) 100%);
    background-size: cover;
    background-color: #cccccc;
    background-repeat: no-repeat;
    font-family: "poppins", sans-serif;
    color: #445361;
    text-align: center;
}

