body {
    /* Background Gradiant: https://cssgradient.io/ */
    background: rgb(238,168,202);
    background: linear-gradient(0deg, rgba(238,168,202,1) 0%, rgba(248,238,158,1) 100%);
    background-attachment: fixed;
    font-family: "poppins", sans-serif;
    color: #07185B;
    text-align: center;
    margin: 0px;
}

.header {
    background-color: aliceblue;
    padding: 10px;
}

.quiz {
    margin: 10px;
    font-size: 20px;
}

.quiz > button {
    font-size: 20px;
}