body {
    /* Background Gradiant: https://cssgradient.io/ */
    background: rgb(238,168,202);
    background: linear-gradient(0deg, rgba(238,168,202,1) 0%, rgba(248,238,158,1) 100%);
    background-attachment: fixed;
    font-family: "poppins", sans-serif;
    color: #07185B;
    text-align: center;
    margin: 0px;
}

.header {
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 2px 3px #07185B;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.quiz {
    margin: 10px;
    font-size: 20px;
}

.quiz > button {
    font-size: 20px;
}


/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}